@import '@radix-ui/colors/sage.css';
@import '@radix-ui/colors/sage-dark.css';
@import '@radix-ui/colors/jade.css';
@import '@radix-ui/colors/jade-dark.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: var(--sage-1);
    --bg-subtle: var(--sage-2);

    --fg: var(--sage-12);
    --fg-subtle: var(--sage-11);

    --ui: var(--sage-3);
    --ui-hover: var(--sage-4);
    --ui-active: var(--sage-5);
    --ui-border: var(--sage-7);
    --ui-border-hover: var(--sage-8);

    --border: var(--sage-6);

    --accent-fg: var(--jade-12);
    --accent-fg-subtle: var(--jade-11);

    --accent-ui: var(--jade-3);
    --accent-ui-hover: var(--jade-4);
    --accent-ui-active: var(--jade-5);
    --accent-ui-border: var(--jade-7);
    --accent-ui-border-hover: var(--jade-8);

    --accent-ui-solid: var(--jade-9);
    --accent-ui-solid-hover: var(--jade-10);
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-bg text-fg;
  }
}
